.table .row {
    line-height: 3em;
    height: 3em;
    border-top: 1px solid #e6eaee;
}
.table .row:last-child {
    border-bottom: 1px solid #e6eaee;
}
.table .row.header {
    font-weight: 700;
    font-variant: small-caps;
}
.table .row:not(.header):hover {
    background-color: #fafbfd;
}
.table .row .cell {
    padding: 0 2vw;
}
.table .row .cell:first-child {
    flex: 1 1 200px;
    border-left: 1px solid #e6eaee;
}
.table .row .cell:last-child {
    border-right: 1px solid #e6eaee;
}
.container {
    margin-top: 1em;
}

.tab-content {
    padding: 1em;
    border: 1px solid #dee2e6;
    border-top-width: 0;
}
.tab-content .tab-pane ul {
    padding: 0;
}
