<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragments/header :: head}">
</head>
<body>
<div data-th-replace="~{fragments/header :: navbar}"></div>

<main role="main" class="container">
    <div class="header">
        <h1 data-th-text="${name}"></h1>
    </div>
    <section>
        <h2 data-th-utext="#{plugin.numberOfVersions(${name}, ${#lists.size(versions)})}"></h2>
        <ul class="grid columns-auto">
            <li data-th-each="version: ${versions}">
                <a data-th-href="@{/plugin/{name}/{version}(name = ${name}, version = ${version})}"
                   data-th-text="${version}"></a>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
